---
layout: default
title: "Index"
h1: "Eldragiir Index"
description: Birthed from embers and torn asunder by dragons, the world of Eldragiir is an ever-changing realm of mad-gods and foolish mortals. With everyone vying for control over precious artefacts left behind by a once-great ancient civilisation known only as The Precursors, much darker forces fester and scheme below the surface.
---

<p>
  {{ page.description }}
</p>

{% assign my_categories = (site.categories | sort ) %} {% for category in
my_categories %}
<h2 class="capitalize">{{ category[0] }}</h2>
<ul>
  {% for post in category[1] %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}
