@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --lighter: rgba(255, 255, 255, 0.1);
  --darker: rgba(0, 0, 0, 0.25);
}

* {
  font-family: "Roboto Mono", monospace;
}

body {
  margin: 0;
  -ms-overflow-style: none;
  background: #1b1516;
  color: #fff;
}

a {
  color: cyan;
  text-decoration: none;
}

a:visited {
  color: hotpink;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  margin: 2rem;
}

img {
  transition: all 0.2s ease-in-out;
  max-height: 250px;
  max-width: 250px;
}

img.bigimg {
  max-height: 100%;
  max-width: 100%;
}

table {
  width: 100%;
  background: var(--lighter);
  border-spacing: 0;
}

td,
th {
  border: 1px solid var(--lighter);
  padding: 0.1rem;
}

th {
  background: var(--darker);
}

tr:nth-child(even) {
  background: var(--lighter);
}
