<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if page.title %}
    <title>{{ page.title }} | Eldragiir</title>
    {% else %}
    <title>Eldragiir</title>
    {% endif %}
    <link rel="stylesheet" href="/eldragiir/assets/css/default.css" />
    {% if page.background %}
    <style>
      html {
        background: url({{page.background}}) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
    {% endif %} {% if page.customCss %}
    <link rel="stylesheet" href="{{ page.customCss }}" />
    {% endif %} {% if page.customFavicon %}
    <link href="{{ page.customFavicon }}" rel="icon" type="image/x-icon" />
    {% else %}
    <link
      href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
      rel="icon"
      type="image/x-icon"
    />
    {% endif %} {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    {% endif %} {% if page.url %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {% endif %} {% if page.image %}
    <meta property="og:image" content="{{ page.image }}" />
    <meta property="og:image:alt" content="{{ page.imageAlt }}" />
    <meta property="twitter:image" content="{{ page.image }}" />
    <meta property="twitter:card" content="summary_large_image" />
    {% endif %} {% if page.description %}
    <meta property="og:description" content="{{ page.description }}" />
    {% else %} {% if page.prose %}
    <meta property="og:description" content="{{ page.prose }}" />
    {% endif %} {% endif %}
    <meta property="og:site_name" content="Eldragiir" />
    <meta property="og:type" content="article" />
    {% if page.author %}
    <meta property="og:article:author" content="{{ page.author }}" />
    <meta property="og:article:author" content="zuedev" />
    {% else %}
    <meta property="og:article:author" content="zuedev" />
    {% endif %}
    <script
      src="https://code.jquery.com/jquery-3.5.0.min.js"
      integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% if page.youtubeBackground %}
    <!-- TODO: this needs to be a lot better, currently unstable -->
    <div class="video-background">
      <div class="video-foreground">
        <iframe
          src="https://www.youtube.com/embed/{{ page.youtubeBackground }}?controls=0&autoplay=1&loop=1&playlist={{ page.youtubeBackground }}&mute=1"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    {% endif %}
    <main>
      {% if page.image %}
      <!-- TODO: implement proper thumbnail/primary image styling -->
      <!-- <div class="pageImage">
        <img src="{{ page.image }}" alt="{{ page.imageAlt }}" />
      </div> -->
      {% endif %}
      <div class="content">
        <div class="toc"></div>
        {% if page.h1 %}
        <h1>{{ page.h1 }}</h1>
        {% else %}
        <h1>{{ page.title }}</h1>
        {% endif %} {% if page.spotifyTrack %}
        <iframe
          src="https://open.spotify.com/embed/track/{{ page.spotifyTrack }}"
          width="300"
          height="80"
          frameborder="0"
          allowtransparency="true"
          allow="encrypted-media"
        ></iframe>
        {% endif %} {% if page.prose %}
        <h2>Prose</h2>
        <p>{{ page.prose }}</p>
        {% endif %} {{ content }}
      </div>
      {% if page.backgroundSource %}
      <p class="bottomRightMeta">
        <a href="{{ page.backgroundSource }}" target="_blank"
          ><b>Background Source</b></a
        >
      </p>
      {% endif %}
    </main>
  </body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
  <script src="/eldragiir/assets/js/defaultPost.js"></script>
  {% if page.youtubeBackground %}
  <script src="/eldragiir/assets/js/youtubeBackground.js"></script>
  {% endif %}
</html>
