/* VARIABLE CONSTRUCTOR START */
:root {
  --backgroundPage: #000;
  --backgroundContent: #111;
  --backgroundShade1: #222;
  --backgroundShade2: #333;
  --fontFamilyOne: Roboto Mono;
  --fontFamilyTwo: monospace;
  --fontColorBase: #fff;
  --fontColorLinksIdle: #f00;
}
/* VARIABLE CONSTRUCTOR END*/

/* setup backgrounds! */
.user-css.page, .user-css-extended .page {
  background: var(--backgroundContent);
}

.user-css-presentation {
  background: var(--backgroundPage);
}

/* setup font */
@import url(https://fonts.googleapis.com/css?family=var(--fontFamilyOne));

.user-css *:not(.fa):not(.fas) {
  font-family: var(--fontFamilyOne), var(--fontFamilyTwo);
  color: var(--fontColorBase);
}

/* links */
.user-css a {
  color: var(--fontColorLinksIdle) !important;
}

/* darktheme fixes */
.user-css .table-of-contents * {
  background: var(--backgroundShade2);
  outline: none;
}

.user-css .panel-default {
    border-color: var(--backgroundShade2);
}

.user-css .table th {
  background: var(--backgroundShade2);
  color: var(--fontColorBase);
}

.user-css .table td {
  background: var(--backgroundShade1);
  color: var(--fontColorBase);
}

/* hide cover image */
.user-css #cover {
  display: none;
}

/* restyle search input */
.user-css .search-form {
  position: relative;
  top: unset;
  left: unset;
  text-align: center;
  margin-top: 2rem;
  padding-left: 4rem;
}
.user-css input {
  background: var(--backgroundShade2) !important;
  border-color: var(--backgroundShade2) !important;
}

/* hide world content except world-menu */
.user-css .table-of-contents,
.user-css #world-maps {
  display: none;
}

/* make world menu nicer */
.user-css .world-content .col-md-8 .row .col-md-6 {
  margin-left: 50%;
}
.user-css #world-menu .world-toc-header {
  text-align: center;
}
.user-css #world-category-content {
  display: none;
}

/* homepage subheading */
.user-css .subheading {
  text-align: justify;
}
