/* VARIABLE CONSTRUCTOR START */
:root {
  --backgroundPage: #000;
  --backgroundContent: #111;
  --fontFamilyOne: Roboto Mono;
  --fontFamilyTwo: monospace;
  --fontColorBase: #fff;
  --fontColorLinksIdle: #f00;
}
/* VARIABLE CONSTRUCTOR END*/

/* setup backgrounds! */
.user-css.page, .user-css-extended .page {
  background: var(--backgroundContent);
}

.user-css-presentation {
  background: var(--backgroundPage);
}

/* setup font */
@import url(https://fonts.googleapis.com/css?family=var(--fontFamilyOne));

.user-css *:not(.fa):not(.fas) {
  font-family: var(--fontFamilyOne), var(--fontFamilyTwo);
  color: var(--fontColorBase);
}

/* links */

.user-css a {
  color: var(--fontColorLinksIdle);
}

/* fix tables */
.user-css .table th {
  background: #333;
  color: var(--fontColorBase);
}

.user-css .table td {
  background: #222;
  color: var(--fontColorBase);
}

/* hide cover image */
.user-css #cover {
  display: none;
}

/* restyle search input */
.user-css .search-form {
  position: relative;
  top: unset;
  left: unset;
  text-align: center;
  margin-top: 2rem;
}
